// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mis Estilos
@import 'styles/partials/navbar';
@import 'styles/partials/footer';
@import 'styles/partials/inner-banner';

@import 'styles/components/buttons';
@import 'styles/components/rounded';
@import 'styles/components/category-card';
@import 'styles/components/product-card';
@import 'styles/components/horizontal-card';
@import 'styles/components/avatar';
@import 'styles/components/avatar-nav';
@import 'styles/components/sidebar-product';
@import 'styles/components/card-image-form';

@import 'styles/pages/welcome';
@import 'styles/pages/about';
@import 'styles/pages/faq';
@import 'styles/pages/home';
@import 'styles/pages/chanchita';

body {
  color: #555
}

.admin-bg {
  background-color: #f8fafc;
}

.title1 {
  font-family: 'Montserrat', sans-serif;
  color: #198cff;
  font-size: 32px;
  font-weight: 300
}

.title2 {
  font-family: 'Montserrat', sans-serif;
  color: #198cff;
  font-size: 24px;
  // font-weight: 300
}

.img-vacia {
  &__fondo {
    background-color: #eee;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  &__icon {
    width: 80px;
    background-color: #ddd;
    border-radius: 50%;
    padding: 20px;
    display: inline-block;
  }
}
