.card-h {
  border-radius: 7px;
  overflow: hidden;
  &__img {
    background-size: cover;
  }
  &__badge {
    padding: 4px 15px;
    border-radius: 10px;
  }
  &__link {
    color: #555 !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.c-hcard {
  &__container {
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
  &__img {
    max-width: 100%;
  }
  &__text {
    color: #555;
    &:hover {
      text-decoration: none;
    }
  }
}